.status {
  width: 78px;
  height: 26px;
  border-radius: 20px;
  padding: 4px 8px;
}

@mixin base_status($text_color) {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: $text_color;
}

.Creating {
  @include base_status(#3d77e1);
  background: #e0eaff;
}

.Running {
  @include base_status(#029e9e);
  background-color: #ccecec;
}

.Starting {
  @include base_status(#662fdc);
  background: #e0d5f8;
}

.Deleting {
  @include base_status(#cd6921);
  background: #f5e1d3;
}

.Failed {
  @include base_status(#ba2451);
  background: #f1d3dc;
}

// node status running stoped
@mixin base_status($color) {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $color;
  margin-right: 5px;
}

.node_status {
  --node-color: #029e9e;
  .circle {
    @include base_status(var(--node-color));
  }
  color: var(--node-color);
}
