@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'nprogress/nprogress.css';
/* Override NProgress color */
#nprogress .bar {
  background: #0d55da !important;
}
#nprogress .spinner {
  display: none !important;
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.pageScrollWrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
}

.hiddenScrollWrapper {
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
