.base_card_style {
  background: #fcfdfe;
  border-radius: 8px;
  overflow: auto;
  overflow-wrap: break-word;
}

.list_card {
  font-weight: 400px;
  font-size: 10px;
}

.custom_radio_group {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0d55da;
  margin-left: auto;
  margin-right: 16px;
  cursor: pointer;
  width: 192px;
  height: 28px;
  .radio_btn {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border: 1px solid #0d55da;
  }
  .radio_btn.active {
    background: #e7eefb;
  }
  .radio_btn:first-child {
    border-radius: 3px 0px 0px 3px;
    border-right: 0;
  }
  .radio_btn:last-child {
    border-radius: 0px 3px 3px 0px;
    border-left: 0;
  }
}

.back_btn {
  width: 36px;
  height: 36px;
  :global {
    .icon {
      width: 20px;
      height: 20px;
    }
  }
  @media (min-width: 1024px) {
    width: 48px;
    height: 48px !important;
    :global {
      .icon {
        width: 26px;
        height: 26px;
      }
    }
  }
}
