.base_card_style {
  background: #fcfdfe;
  border-radius: 8px;
}

.table_header {
  display: flex;
  height: 38px;
  align-items: center;
  padding-left: 16px;
  color: #6f6f85;
  line-height: 16px;
  border-bottom: 0.5px solid #e7e7eb;
  font-weight: 400;
  font-size: 10px;
}

.table_row {
  display: flex;
  height: 52px;
  align-items: center;
  padding-left: 16px;
  color: #0f0f34;
}

.header_item,
.row_item {
  flex: 1 1 25%;
  text-align: left;
}
.special_item {
  flex-basis: 45%;
}

.scp_name {
  line-height: 140%;
  color: #0f0f34;
}

.scp_id {
  line-height: 140%;
  color: #3f3f5d;
}

.meta_id {
  word-break: break-all;
  font-size: 10px;
  font-weight: 400;
}

.meta_ip {
  font-weight: 400;
  font-size: 12px;
  padding: 8px 6px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background: #e9edf5;
    border-radius: 4px;
    .meta_ip_copy {
      display: block;
    }
  }
  .meta_ip_copy {
    cursor: pointer;
    display: none;
    padding: 2px;
  }
}

.list_card {
  font-weight: 400px;
  font-size: 10px;
}

.custom_radio_group {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0d55da;
  margin-left: auto;
  margin-right: 16px;
  cursor: pointer;
  width: 192px;
  height: 28px;
  .radio_btn {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border: 1px solid #0d55da;
  }
  .radio_btn.active {
    background: #e7eefb;
  }
  .radio_btn:first-child {
    border-radius: 3px 0px 0px 3px;
    border-right: 0;
  }
  .radio_btn:last-child {
    border-radius: 0px 3px 3px 0px;
    border-left: 0;
  }
}

.back_btn {
  width: 36px;
  height: 36px;
  :global {
    .icon {
      width: 20px;
      height: 20px;
    }
  }
  @media (min-width: 1024px) {
    width: 48px;
    height: 48px !important;
    :global {
      .icon {
        width: 26px;
        height: 26px;
      }
    }
  }
}
